<!DOCTYPE html>
<html ng-app="jobHunt">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <title> Job Hunt</title>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

  </head>
  <body>
    <!-- Beginning of header -->
    <div ng-include src="'common/tpls/header.tpl.html'"></div>
    <!--End of header-->
    <!--     Beginning of main content        -->
    <div class="container">
        <div class="clearfix" ui-view></div> <!-- templates injected here -->
        <!-- Begining Footer -->
        <!-- <div ng-include src="'common/tpls/footer.tpl.html'"></div> -->
        <!-- End Footer -->
    </div>
        <!--     End of main content        -->

    <!-- compiled JavaScript -->
    <% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </body>
</html>
